# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: 编译部署

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    env:
      GOEXPERIMENT: jsonv2
    steps:
      - name: 拉取代码
        uses: actions/checkout@v5

      - name: 安装环境
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          check-latest: true

      - name: 编译程序
        run: sh build.sh

      - name: 上传产物
        uses: actions/upload-artifact@v4
        with:
          name: aegis-server
          path: |
            aegis-server_*
            resources
      - name: 部署
        env:
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
          SERVER_HOST: ${{ secrets.SERVER_HOST }}
          SERVER_USER: ${{ secrets.SERVER_USER }}
          DEPLOY_DIR: /opt/aegis/server
        run: |
          echo "$PRIVATE_KEY" > private.key
          chmod 600 private.key
          mkdir -p ~/.ssh
          chmod 700 ~/.ssh
          ssh-keyscan -H "$SERVER_HOST" >> ~/.ssh/known_hosts
          
          BINARY=$(ls aegis-server_linux-amd64_*)
          if [ -z "$BINARY" ]; then
            echo "没有找到编译产物"
            exit 1
          fi

          echo "上传 $BINARY 到服务器..."
          scp -i private.key "$BINARY" $SERVER_USER@$SERVER_HOST:/tmp/

          ssh -i private.key $SERVER_USER@$SERVER_HOST "mv /tmp/$BINARY $DEPLOY_DIR"
          ssh -i private.key $SERVER_USER@$SERVER_HOST "cd $DEPLOY_DIR && sudo rm server && sudo chmod +x $BINARY && sudo ln -s $BINARY server && sudo systemctl restart aegis-server.service"
