openapi: 3.1.0
info:
  title: 接口文档
  description: |
    ### Websocket

    `/ws` 前缀的路径是 websocket 协议接口。

    ### Server-Sent Events

    `/sse` 前缀路径是 Server-Sent Events 协议接口。
  version: 1.0.0
  summary: 接口文档
  contact:
    name: xmx
    url: 'https://github.com/xmx'
    email: fake@example.com
  termsOfService: 'https://github.com/xmx'
servers:
  - url: /api
    description: 当前服务
  - url: 'https://lo.zzu.wiki:1443/api'
    description: 本机服务
tags:
  - name: ⚙️ 系统设置
  - name: "\U0001F680 发布部署"
paths:
  /certificates:
    get:
      summary: 【TLS 证书】分页查询
      tags:
        - ⚙️ 系统设置
      responses:
        '200':
          $ref: '#/components/responses/GetConfigCertificates'
      operationId: get-certificates
      description: TLS证书-分页查询
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/keyword'
    parameters: []
  /certificate:
    post:
      summary: 【TLS 证书】新增
      operationId: post-certificate
      responses:
        '200':
          description: OK
      tags:
        - ⚙️ 系统设置
      description: 添加证书
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCertificate'
    put:
      summary: 【TLS 证书】修改
      operationId: put-config-certificate
      responses:
        '200':
          description: OK
      tags:
        - ⚙️ 系统设置
      description: 修改证书
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCertificate'
        description: ''
    delete:
      summary: 【TLS 证书】删除
      operationId: delete-config-certificate
      responses:
        '200':
          description: OK
      tags:
        - ⚙️ 系统设置
      description: 删除证书
      parameters:
        - $ref: '#/components/parameters/ids'
    parameters: []
  /certificate/download:
    get:
      summary: 【TLS 证书】下载
      tags:
        - ⚙️ 系统设置
      responses:
        '200':
          description: OK
          content:
            application/zip:
              schema:
                type: object
                format: binary
                description: 文件下载流
                additionalProperties: false
      operationId: get-certificate-download
      description: 下载证书和私钥
      parameters:
        - $ref: '#/components/parameters/ids'
    parameters: []
  /certificate/refresh:
    get:
      summary: 【TLS 证书】刷新
      tags:
        - ⚙️ 系统设置
      responses:
        '200':
          description: OK
      operationId: get-certificate-refresh
      description: 手动清除缓存中的 TLS 证书，系统会重新加载证书。
    parameters: []
  /agent-release:
    post:
      summary: 【Agent】上传
      operationId: post-agent-release
      responses:
        '200':
          description: OK
      description: 上传 agent 二进制
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  x-stoplight:
                    id: 4nxnhr0qr72ml
                  description: 二进制文件
                  format: binary
                changelog:
                  type: string
                  x-stoplight:
                    id: csozkq4s3r3q6
                  description: 变更日志
                  example: 优化了用户体验，修复了 xxx BUG。
                  maxLength: 10000
              required:
                - file
        description: ''
      tags:
        - "\U0001F680 发布部署"
    delete:
      summary: 【Agent】删除
      operationId: delete-agent-release
      responses:
        '200':
          description: OK
      tags:
        - "\U0001F680 发布部署"
      description: 删除 agent 发行包。
      parameters:
        - $ref: '#/components/parameters/ObjectID'
  /agent-release/parse:
    post:
      summary: 【Agent】解析二进制包信息
      operationId: post-agent-release-parse
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  goos:
                    type: string
                    x-stoplight:
                      id: nl5v08mwwjhgf
                    description: 操作系统
                    enum:
                      - linux
                      - windows
                      - darwin
                    example: linux
                  goarch:
                    type: string
                    x-stoplight:
                      id: szzvb19kkw57o
                    description: 系统架构
                    enum:
                      - amd64
                      - arm64
                    example: amd64
                  version:
                    type: string
                    x-stoplight:
                      id: 2b9o1yypoe1vm
                    description: 版本
                    example: 25.3.23-090923
                required:
                  - goos
                  - goarch
      description: 解析 agent 二进制包信息
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  x-stoplight:
                    id: unk90b6mswtlu
                  description: 二进制文件
                  format: binary
              required:
                - file
      tags:
        - "\U0001F680 发布部署"
  /broker-release:
    post:
      summary: 【Broker】上传
      operationId: post-broker-release
      responses:
        '200':
          description: OK
      tags:
        - "\U0001F680 发布部署"
      description: 上传 broker 二进制。
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  x-stoplight:
                    id: 5mdzjeexbphti
                  format: binary
                  description: 二进制文件
                changelog:
                  type: string
                  x-stoplight:
                    id: 11txfg7p8pp75
                  description: 变更日志
                  maxLength: 10000
                  example: 升级了 xxx，修复了 xxx BUG。
              required:
                - file
    delete:
      summary: 【Broker】删除
      operationId: delete-broker-release
      responses:
        '200':
          description: OK
      description: 删除 broker 二进制。
      tags:
        - "\U0001F680 发布部署"
      parameters:
        - $ref: '#/components/parameters/ObjectID'
  /broker-release/parse:
    post:
      summary: 【Broker】解析二进制包信息
      operationId: post-broker-release-parse
      responses:
        '200':
          description: OK
      tags:
        - "\U0001F680 发布部署"
      description: 解析 broker 二进制包信息
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  x-stoplight:
                    id: g7ueu3ur60opu
                  format: binary
                  description: 二进制文件
              required:
                - file
        description: ''
  /log/watch:
    get:
      summary: 【日志】实时观测
      tags:
        - ⚙️ 系统设置
      responses:
        '200':
          description: OK
      operationId: get-log-watch
      description: 本接口会自适应 `WebSocket` `SSE` `streamableHTTP`
      parameters:
        - schema:
            type: string
            enum:
              - DEBUG
              - INFO
              - WARN
              - ERROR
            example: INFO
          in: query
          name: level
          description: 日志级别
        - schema:
            type: string
            enum:
              - text
              - json
          in: query
          name: format
          description: 输出格式
components:
  securitySchemes:
    Authorization:
      type: http
      scheme: bearer
      description: 认证Token
    authorization:
      name: 认证Token
      type: apiKey
      in: query
      description: 认证Token
  parameters:
    page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        minimum: 0
        example: 1
      description: 分页页码
    size:
      name: size
      in: query
      required: false
      schema:
        type: integer
        example: 10
        minimum: 0
        maximum: 1000
      description: 分页显示条数
    keyword:
      name: keyword
      in: query
      required: false
      schema:
        type: string
        minLength: 0
        maxLength: 100
      description: 搜索关键字
    ids:
      name: id
      in: query
      required: true
      schema:
        type: array
        uniqueItems: true
        minItems: 1
        maxItems: 1000
      description: '允许传入多个ID，ElementsUI 中输入示例：["1","2"] 或 [1,2]。'
    wildcard:
      name: wildcard
      in: path
      schema:
        type: string
        example: img/avatar/tom.png
      description: 路径通配
      required: true
    ObjectID:
      name: id
      in: query
      required: true
      schema:
        type: string
        example: 68f7502cc628b9e207f564d6
        minLength: 24
        maxLength: 24
      description: ID
  responses:
    GetConfigCertificates:
      description: Example response
      content:
        application/json:
          schema:
            type: object
  schemas:
    CreateCertificate:
      title: CreateCertificate
      x-stoplight:
        id: mutduei8eq83v
      type: object
      properties:
        public_key:
          $ref: '#/components/schemas/PublicKey'
          x-stoplight:
            id: yjpckptq04k7w
        private_key:
          $ref: '#/components/schemas/PrivateKey'
          x-stoplight:
            id: lhlhdvosfaiil
        enabled:
          type: boolean
          x-stoplight:
            id: cpaz624bh0aiy
          description: 是否启用
      required:
        - public_key
        - private_key
    UpdateCertificate:
      title: UpdateCertificate
      x-stoplight:
        id: 670mvn71w2s8d
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Int64'
          description: 证书ID
        public_key:
          $ref: '#/components/schemas/PublicKey'
          x-stoplight:
            id: m10mgs4lpzmez
          description: 证书（公钥）
        private_key:
          $ref: '#/components/schemas/PrivateKey'
          x-stoplight:
            id: 83bcjs84berjt
          description: 私钥
        enabled:
          type: boolean
          x-stoplight:
            id: ddkwc7k9ggyyt
          description: 是否启用
      required:
        - id
        - public_key
        - private_key
    PublicKey:
      title: PublicKey
      x-stoplight:
        id: apo940rmnny05
      type: string
      description: 证书公钥。
      examples: []
      example: |-
        -----BEGIN CERTIFICATE-----
        MIIB5TCCAYugAwIBAgIUMeYkdlDj451ANDaCams6cZNqjIowCQYHKoZIzj0EATBT
        MS0wKwYDVQQDDCRFbmNyeXB0aW9uIEV2ZXJ5d2hlcmUgRFYgVExTIENBIC0gRzIx
        FTATBgNVBAoMDERpZ2lDZXJ0IEluYzELMAkGA1UEBhMCQ04wHhcNMjQwODMxMTYw
        MDAwWhcNMjQwOTMwMTU1NTAwWjB0MQswCQYDVQQGEwJDTjEPMA0GA1UECAwG5bm/
        6KW/MQ8wDQYDVQQHDAbljZflroExFTATBgNVBAoMDOa1i+ivleivgeS5pjESMBAG
        A1UECwwJ5oqA5pyv6YOoMRgwFgYDVQQDDA94bXguZXhhbXBsZS5jb20wWTATBgcq
        hkjOPQIBBggqhkjOPQMBBwNCAASFPzKC1OnoA/Csp+/fo+7yyWm5sisn81I4rKgz
        61wb5BWvFmoHfwPAQaW9ntChbnuV0alwE8KQA1WmTk9L0jWJox0wGzALBgNVHREE
        BDACggAwDAYDVR0TAQH/BAIwADAJBgcqhkjOPQQBA0kAMEYCIQDY1axQLDuwV6mU
        tI8qJm9yE3llb/uwNMF3XmaaDbYj6QIhAMVzlqT6fhtMRYwzGeUlCBzpB4JLelke
        QayXkSUs/PR7
        -----END CERTIFICATE-----
    PrivateKey:
      title: PrivateKey
      x-stoplight:
        id: rg0crxe5m3g7d
      type: string
      description: 证书私钥。
      examples: []
      example: |-
        -----BEGIN PRIVATE KEY-----
        MIGHAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBG0wawIBAQQgb4dsgSbjKkxzr+QX
        RpriUIoInvWuBdY2Sa4zpoCC36ehRANCAASFPzKC1OnoA/Csp+/fo+7yyWm5sisn
        81I4rKgz61wb5BWvFmoHfwPAQaW9ntChbnuV0alwE8KQA1WmTk9L0jWJ
        -----END PRIVATE KEY-----
    Int64:
      title: Int64
      x-stoplight:
        id: yy957ay999vsy
      type: string
      pattern: '^[0-9]+'
      example: '100023'
    ObjectID:
      title: ObjectID
      x-stoplight:
        id: o8f77850vrt9h
      type: string
      description: ID
      example: 68f7502ac628b9e207f569d6
      minLength: 24
      maxLength: 24
  requestBodies: {}
security:
  - Authorization: []
