[Unit]
Description=Aegis Server
After=network.target

[Service]
Type=simple
LimitNOFILE=65535
WorkingDirectory=/opt/aegis/server
ExecStart=/opt/aegis/server/server
ExecStop=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5
Environment=TERM=xterm-256color

[Install]
WantedBy=multi-user.target
