[Unit]
Description=Aegis Broker Service
After=network.target

[Service]
Type=simple
User=root
Group=root
LimitNOFILE=65535
WorkingDirectory=/opt/aegis/broker
ExecStart=/opt/aegis/broker/aegis-broker
KillSignal=SIGINT
Restart=always
RestartSec=5
LimitCORE=infinity
Environment=GOTRACEBACK=crash
Environment=TERM=xterm-256color

[Install]
WantedBy=multi-user.target
